# Build output
bin/
*.zip
# Executables
*.exe
quill-linux
quill-macos-intel
quill-macos-arm
hidden*
*.vsix
internal

# Test artifacts
*.tmp
*.log
tests/.tmp/

# Misc
.DS_Store
Thumbs.db
node_modules

# testing
quill.json
modules